.box {
	width: 150px;
	height: 75px;
}

.box-simple {
	border: 1px dashed black;
	width: 150px;
	height: 75px;
}

.box-task {
	border: 1px solid black;
	width: 200px;
	height: 100px;
	margin: 0 0 1em 2em;
}

.box-row {
	display: inline-block;
	margin: 0 1em;
}

.box-row-container {
	margin: 1em 0;
}

#box1 {
	background-color: red;
	border: 4px solid black;
	border-radius: 1em;
	width: 100px;
}

#box2 {
	background-color: blue;
	border: 3px dashed white;

}

#box3 {
	background-color: green;
	border: 5px double yellow;
}